div.main-landing
  div.promo
    div.container
      h2.title Mockr
      p.intro A Front End Developer's friend to get a backend up and running in under 5 minutes
      div.btns
        a(href="http://themes.3rdwavemedia.com/").btnA.btns.btn.btn-default Demo
        a(href="http://themes.3rdwavemedia.com/").btnB.btns.btn.btn-default Get Started

      ul.list-inline.meta
        li
          a(href="https://github.com/radiant-persimmons/mockr" target="_blank") View on Github
        li
          a(href="/documentation") Full Documentation
        li 
          a(href="#team") Created by: Team Mockr
    div.social-media
      div.social-media-inner
        ul.list-inline.github
          li.github-star
            iframe(src="http://ghbtns.com/github-btn.html?user=&repo=radiant-persimmons/mockr&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20")
          li.github-fork
            iframe(src="http://ghbtns.com/github-btn.html?user=&repo=radiant-persimmons/mockr&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20")
  div.about
    div.container
      h2.title What is Mockr?
      p.centerme Mockr speeds up full-stack application production by supporting front end development before the back end is complete. More than a typical mocking tool, Mockr can emulate a persistent data store, allowing developers to dynamically alter response content through their API requests.
      div.row
        div.item.col-md-4.col-sm-6.col-xs-12
          h3.sub-title Designed for developers
          p Outline a benefit here. Tell users what your plugin/software can do for them. You can change the icon above to any of the 400+ FontAwesome icons available
        div.item.col-md-4.col-sm-6.col-xs-12
          h3.sub-title Designed for developers
          p Outline a benefit here. Tell users what your plugin/software can do for them. You can change the icon above to any of the 400+ FontAwesome icons available
        div.item.col-md-4.col-sm-6.col-xs-12
          h3.sub-title Designed for developers
          p Outline a benefit here. Tell users what your plugin/software can do for them. You can change the icon above to any of the 400+ FontAwesome icons available
        div.item.col-md-4.col-sm-6.col-xs-12
          h3.sub-title Designed for developers
          p Outline a benefit here. Tell users what your plugin/software can do for them. You can change the icon above to any of the 400+ FontAwesome icons available
        div.item.col-md-4.col-sm-6.col-xs-12
          h3.sub-title Designed for developers
          p Outline a benefit here. Tell users what your plugin/software can do for them. You can change the icon above to any of the 400+ FontAwesome icons available
        div.item.col-md-4.col-sm-6.col-xs-12
          h3.sub-title Designed for developers
          p Outline a benefit here. Tell users what your plugin/software can do for them. You can change the icon above to any of the 400+ FontAwesome icons available
  div.features
    div.container
      h2.title Features
      ul.feature-list
          li Specify your own Mock Data
          li Opt-in for Data Persistance
          li Built on Bootstrap 3.3
          li Enable Business Logic
          li Custom Endpoints
          li Analytics for Endpoints
          li Easily create, edit and delete routes

  div.get-started
    div.container
      h2.title Get Started
      h3.sub-title Part 1
      p 1. Create a route in Mockr
      img(src="/../../images/addRouteScreenShot.png" width="500px" height="auto")
      p 2. Make a request to Mockr in Chrome

      p See Response

      h3.sub-title Part 2
      p See Ajax request below in our sample messaging application
      p Change out the request to Mockr url with your desired Endpoints
      p See the Response
      pre.language-javascript
        code.language-javascript
          p Hello World 
          <p> Hello World </p>
      //- <pre><code class="language-css">p { color: red }</code></pre>
  div.team
    div.container
      h2.title The Mockr Team
      div.row
        div.item.col-md-3.col-sm-6.col-xs-12
          div.pictures
            img(src="/../../images/andrew.jpg" height="200px")
            div.picture-links
              img(src="/../../images/github.png" href="https://github.com/AndrewSouthpaw" height="50px")
              img(src="/../../images/linkedIn.png" href="https://www.linkedin.com/profile/view?id=109257905&authType=NAME_SEARCH&authToken=v_2X&locale=en_US&trk=tyah2&trkInfo=idx%3A1-1-1%2CtarId%3A1425765494920%2Ctas%3Aandrew+smith" height="50px")
          h3.sub-title Andrew Smith
          p Outline a benefit here. Tell users what your plugin/software can do for them. You can change the icon above to any of the 400+ FontAwesome icons available
        div.item.col-md-3.col-sm-6.col-xs-12
          div.pictures 
            img(src="/../../images/jake.jpg" height="200px")
            div.picture-links
              img(src="/../../images/github.png" href="linkedin" height="50px")
              img(src="/../../images/linkedIn.png" href="linkedin" height="50px")
          h3.sub-title Jake Obron
          p Outline a benefit here. Tell users what your plugin/software can do for them. You can change the icon above to any of the 400+ FontAwesome icons available
        div.item.col-md-3.col-sm-6.col-xs-12
          div.pictures
            img(src="/../../images/karim.jpg" height="200px")
            div.picture-links
              img(src="/../../images/github.png" href="linkedin" height="50px")
              img(src="/../../images/linkedIn.png" href="linkedin" height="50px")
          h3.sub-title Karim Kyler
          p Outline a benefit here. Tell users what your plugin/software can do for them. You can change the icon above to any of the 400+ FontAwesome icons available
        div.item.col-md-3.col-sm-6.col-xs-12
          div.pictures
            img(src="/../../images/ruben.jpg" height="200px")
            div.picture-links
              img(src="/../../images/github.png" href="linkedin" height="50px")
              img(src="/../../images/linkedIn.png" href="linkedin" height="50px")
          h3.sub-title Ruben Vicario
          p Outline a benefit here. Tell users what your plugin/software can do for them. You can change the icon above to any of the 400+ FontAwesome icons available
        














