div.main-landing
  div.promo
    div.container
      h2.title Mockr
      p.intro A Front End Developer's friend to get a backend up and running in under 5 minutes
      div.buttons
        button Im a button
        button Im a button too
      ul.list-inline
        li View on Github
        li Full Documentation
        li Created by: Team Mockr
    div.social-media
      div.social-media-inner
        ul.list-inline.github
          li.github-star
            iframe(src="http://ghbtns.com/github-btn.html?user=&repo=radiant-persimmons/mockr&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20")
          li.github-fork
            iframe(src="http://ghbtns.com/github-btn.html?user=&repo=radiant-persimmons/mockr&type=fork" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20")
  div.about
