h1 Edit Route

form
  p {{vm.test}}
  input(ng-model="vm.formInfo.route")
  label GET
  input(type="checkbox" ng-checked="{{ !!vm.formInfo.body.GET }}")
  label POST
  input(type="checkbox" ng-checked="{{ !!vm.formInfo.body.POST }}")
  label PUT
  input(type="checkbox" ng-checked="{{ !!vm.formInfo.body.PUT }}")
  label DELETE
  input(type="checkbox" ng-checked="{{ !!vm.formInfo.body.DELETE }}")
  div.method-body(ng-repeat="method in vm.formInfo.methods")
    input(ng-model="method")
    input(ng-model="vm.formInfo.body[method]")
  button(ng-click="vm.updateRoute()") {{ vm.buttonStatus }}
  div.alert.alert-danger(ng-show="vm.errorMessage") {{ vm.errorMessage }}
