language: node_js
node_js:
- "0.10"

services:
- mongodb

# Special configurations for using Chrome browser in Travis
before_script:
- export CHROME_BIN=chromium-browser
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start

# Run `gulp coveralls` to send data to Coveralls
after_script:
 - ./node_modules/.bin/gulp coveralls

# Disable email notifications
notifications:
  email: false
