header(role="header" id="header")
  nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        button(type="button" class="navbar-toggle collapsed")
        a.navbar-brand(href="/" ng-hide="vm.loggedIn")
          img(src="/images/mockr-logo.png")
        a.navbar-brand(href="/home" ng-show="vm.loggedIn")
          img(src="/images/mockr-logo.png")
        p.navbar-text Mockr
      ul.nav.navbar-nav.navbar-right
        li
          a(href="/") About
        li
          a(href="/docs") Docs
        li(ng-hide="vm.loggedIn")
          a(href="#" ng-click="vm.login()") Login
        li(ng-show="vm.loggedIn")
          a {{ vm.username }}
        li.user-avatar(ng-show="vm.loggedIn")
          img(ng-src="{{ vm.avatar }}")
        li(ng-show="vm.loggedIn")
          a(href="#" ng-click="vm.logout()") Logout
