div.container-fluid.doc-box
  h1 Business Logic
  div
    p.
      Mockr provides the option for the user to add business logic to the data that they persist.  
      
      When adding the route or editing it the user can specify some business logic that gets applied to the data
      
      as it gets posted to the api endpoint.  
    p.
      Some examples of code:
      
    span.code-snippet.
      
