div.app-content
  h1 Deleting an Endpoint
  div
    p.
      If you make a mistake or no longer need access to a custom endpoint, deleting is 
      as simple as clicking on the endpoint in my endpoints as if you were editing it.
    img(src="/../../images/delete-route.jpg")
    p.
      Click delete at the bottom near the save button.  
    p.
      Caution: any data associated with this endpoint will be lost forever.
