div.app-content.doc-box
  h1 Deleting an Endpoint
  div
    p.
      If you make a mistake or no longer need access to a custom endpoint deleting it is 
      
      as simple as clicking on the endpoint in my endpoints as if you were editing it and clicking delete
      
      at the bottom near the save button.  Caution any data associated with this endpoint will be lost forever.
