div.app-content.doc-box
  h1 Editing an Endpoint
  div
    p.

      After creating a custom endpoint you can edit it if you need to.  The data and the HTTP verbs can be edited
      
      as well as toggling on or off the persistance of data.   
    p.
      To edit the endpoint in click on it in the “My Endpoints” box. 
       
    img.doc-img(src="./images/test.jpg")
    p.
      Once you click on it you will be able to add or remove HTTP Verbs by checking or unchecking the appropriate boxes.  
      
      You will also be able to edit or add the data for status code, headers and body.  
    p.
      Another feature is the ability to change the route to and from persistence.  
      
      The static data that you have provided will no longer be returned so you will have to add your 
      
      own data from the database.
