div.app-content.doc-box
  h1 creating Mock Data
  div
    p.
      Another feature is the ability to just ceate an endpoint that returns the same data everytime
      
      this is not as flexible as persistant data but it allows for faster development by just specifying some 
      
      data that will get sent when the frontend makes a request to an endpoint.
      
      You will need to input a status code which must be a number.  You can use the standard numbers as well as 
      
      creating your own custom numbers up if you need that functionality.  Header data is optional and not neccessary
      
      to add to endpoint.  The body data is required however and can be any text string.
