div.app-content
  h1 Creating and Using Mock Data
  div
    p.
      Mock data is the unchangeable mocked data that the user sets on a particular API endpoint that they
      
      create. It is useful for setting up quickly to make sure your application is making the correct calls to 
      
      the API endpoints it needs too.  Every call you make to an endpoint with static or non-persistant data turned on 
      
      will return the same response.
    p.
      To use Mock data, first create or edit an existing endpoint. Then check the HTTP verbs that you 
      
      wish to use for the static data response.  
      
    img(src="/../../images/new-route.jpg")
    
    p.
      You will need to input a status code, which must be a number.  You can use the standard status codes, as well as 
      
      creating your own custom codes up if you need that functionality.  Header data is optional and not neccessary
      
      to add to endpoint. However, the body data is required and can be any text string.

    img(src="/../../images/new-route-static.jpg")
    
      
      
    ul List of Standard status codes
      li 
        code 200 OK
      li 
        code 201 Created
      li 
        code 301 Moved Permanently
      li 
        code 302 Found
      li 
        code 304 Not Modified
      li 
        code 400 Bad Request
      li 
        code 401 Unauthorized
      li 
        code 403 Forbidden
