div.app-content.doc-box 
  h1 Welcome to Mockr!
  p Here, you will find all the documentation to get started using Mockr.  Mockr will help speed up your develpoment.
  p To get started, you will need a Github account to log in to Mockr.  If you don't have one, go here to sign up:
  a(href="https://github.com/join") https://github.com/join
