body
  padding: 4px
  background-color: #2C3E50

.navbar
  .user-avatar
    a
      padding: 0px
    img
      max-width: 50px

  .navbar-brand
    img
      position: relative
      max-height: 65px
      top: -22px

    background-color:transparent
    border: 1px solid
    border-color:transparent
    padding:10px
    border-radius:4px
    margin-top: 3px

.content
  padding:10px
  border-radius:15px

.container-fluid
  background-color:#ECF0F1
  border-radius:15px
  padding:10px
  margin-left:14px
  padding-left:15px
  margin-top:14px
  margin-right:14px

.navbar-inverse
  background-color: transparent
  border : transparent

.navbar
  background-color: none
  border-color: none

.edit-routes
  padding-left:2%
  padding-right:2%
  padding-bottom:2%
  padding-top:2%
  border : solid black 1px
  border-radius: 15px
  background-color:#ECF0F1

.add-routes
  padding-left:4%
  padding-right:4%
  padding-bottom:4%
  padding-top:4%
  border : solid black 1px
  border-radius: 15px
  background-color:#ECF0F1

.current-routes-list
  padding-left:4%
  padding-right:4%
  padding-bottom:4%
  padding-top:4%
  border : solid black 1px
  border-radius: 15px
  background-color:#ECF0F1

.current-routes
  padding-top: 32px

.container
  padding-left:4%
  padding-right:4%
  padding-bottom:4%
  padding-top:4%
  border : solid black 1px
  border-radius: 15px

.method-body
  padding-left:2%
  padding-right:2%
  padding-bottom:2%
  padding-top:2%
  border : solid black 1px
  border-radius: 15px

.current-routes-list > h3
  text-decoration: underline


.GET-inputBox
  background-color: #9EF492

.POST-inputBox
  background-color: #F4EA8E

.PUT-inputBox
  background-color: #8EB5F4

.DELETE-inputBox
  background-color: #F49292

.doc-box
  width: 100%
  clear: both

.doc-list
  padding: .25%
  float: left
  width: 15%

.current-doc
  padding: .25%
  padding-right: 2%
  float: right

#myChart
  width: 400px
  height: 300px

.widget-number
  width: 400px
  height: 300px
  float: right
  border: 1px solid grey
  background-color: #47bbb3

.widget-content
  font-family: 'Open Sans'
  vertical-align: middle
  text-align: center
  padding: 20% 5%

.widget-header
  font-size: 20px

.widget-text
  color: white

.widget-data
  font-size: 70px
  width: 85%

.doc-img
  max-width: 33%
