.main-landing
  background-color: white

.content
  padding:0

.title
  color:#074f66
  margin-bottom:60px

p
  color: #074f66

.btnA
  background-color: #EEBF3F

.btnB
  background-color: #053D4E

.sub-title
  color: #074f66

p.intro
  color:white
  font-size:28px
  max-width: 680px
  margin: 0 auto
  margin-bottom: 30px

.btns
  font-size: 18px
  margin-right: 15px
  padding: 8px 30px
  color: white

button
  font-size: 18px
  margin-right: 15px
  padding: 8px 30px

.list-inline.meta
  margin-top: 120px
  margin-bottom: 30px
  color: #0a7396
  font-size: 16px

.feature-list
  list-style: none
  text-align: center

h2
  text-align:center

.promo
  background-color:#17BAEF
  padding-top:150px
  font-family: 'Lato', arial, sans-serif

  .list-inline.github
    text-align:center
    background-color: rgb(12, 134, 174)

  .container
    width:1170px
    margin-right:auto
    margin-left:auto
    padding-left:15px
    padding-right:15px
    text-align:center
    display:table

  .title
    font-size:98px
    font-weight:500px
    font-family: Montserrat, sans-serif

    .intro
      color:white

    .social-media
      color:rgb(10, 115, 150)



  .item
    margin-bottom:30px


  .feature-list
    list-style: none
    text-align: center

.features
  background-color:#17BAEF

.get-started
  text-align:center

.list-inline.github
  padding-top: 50px
  padding-bottom: 50px

.centerme
  text-align: center



