.main-landing
  background-color: white

.feature-list
  list-style: none
  text-align: center

h2
  text-align:center

.promo
  background-color:#17BAEF
  padding-top:150px
  font-family:Lato, arial, sans-serif

  .list-inline.github
    text-align:center
    background-color: rgb(12, 134, 174)

  .container
    width:1170px
    margin-right:auto
    margin-left:auto
    padding-left:15px
    padding-right:15px
    text-align:center
    display:table

  .title
    font-size:98px
    font-weight:500px
    font-family: Montserrat, sans-serif

    .intro
      color:white


    .social-media
      color:rgb(10, 115, 150)
      .social-media-inner
        .ul
          padding-top: 100px
          padding-bottom: 100px

  .item
    margin-bottom:30px


  .feature-list
    list-style: none
    text-align: center

.features
  background-color:#17BAEF

.get-started
  text-align:center




