div.homeContainer
  div.outside-box
    div.form-input
      h3 Create a Route
      form(ng-submit="vm.addRoute()")
        input(placeholder="enter route here" ng-model="vm.formInfo.route")
        button Add a Route
        div(ng-repeat="verb in vm.verbs")
          label 
            input(type="checkbox" 
              ng-checked="{{ !!HomeCtrl.formInfo.methods }}" 
              ng-click="vm.toggleRoute(verb)") 
            {{ verb }}
    div.current-routes-list
      h3 Current Routes:
      div(ng-repeat="route in vm.routes" )
        div.routeInRoutes 
          a(href="/routes/{{ route }}")
            {{ route }}
