div.homeContainer
  div.outside-box
    div.form-input
      h3 Create a Route
      form(ng-submit="vm.addRoute()")
        input(placeholder="enter route here" ng-model="vm.formInfo.route")
        button Add a Route
        div(ng-repeat="verb in HomeCtrl.verbs")
          label 
            input(type="checkbox" 
              ng-checked="{{ !HomeCtrl.formInfo.verbs }}" 
              ng-click="HomeCtrl.toggleRoute(verb)") 
            {{ verb }}
    div.current-routes-list
      h3 Current Routes:
      div(ng-repeat="route in HomeCtrl.routes")
        div.routeInRoutes 
          a(href="/routes/{{ route.route }}")
            {{ route.route }}
