.sidebar, .app-content
  height: 690px

.sidebar
  background-color: #B18759

.app-content
  height: 100%
  padding: 30px
  background-color:#ECEBE7

.doc-list.sidebar
  margin-left: 5px
  padding-left: 2em
  height: 100%
  position: fixed

.current-doc.app-content
  height: 100%

.doc-box
  .app-content
    height: 100%
