header(role="header" id="header")
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
      .navbar-header
        button(type="button" class="navbar-toggle collapsed")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(class="navbar-brand" href="/") Mockr
      ul(class="nav navbar-nav navbar-right")
        li(ng-hide="vm.loggedIn")
          a(href="/login") Login
        li(ng-hide="vm.loggedIn")
          a(href="/signup") Signup
        li(ng-show="vm.loggedIn")
          a {{ vm.username }}
        li.user-avatar(ng-show="vm.loggedIn")
          a
            img(ng-src="{{ vm.avatar }}")
        li(ng-show="vm.loggedIn")
          a(href="#" ng-click="vm.logout()") Logout

