div.current-routes-list
  h3 Current Routes:
  div(ng-repeat="route in vm.routes" )
    div.routeInRoutes
      a(href="/routes/{{ route }}")
        {{ route }}
      a(ng-click='goToAnalytics(route)')
