div.current-routes-list
  h3 Current Routes:
  div(ng-repeat="route in vm.routes" )
    div.routeInRoutes
      a(href="/routes/{{ route }}")
        {{ route }}
      a(type="button" class="stats btn btn-info" href="/analytics/{{ route }}")
        span(class="glyphicon glyphicon-stats" aria-hidden="true")

