

.add-routes

  padding-left:4%
  padding-right:4%
  padding-bottom:4%
  padding-top:4%
  form
    padding-left: 10px
  .btn.btn-success
    background-color: #17BAEF
    border-color: #46b8da

.current-routes-list
  a
    color white
    // color #0a7396
  .stats.btn.btn-info
    margin-left: 15px
    background-color: #17BAEF
  padding-left:4%
  padding-right:4%
  padding-bottom:4%
  padding-top:4%
  // padding-top: 32px

.add-routes
.current-routes-list
  h3
    // color white
    color #E7E0D8 // tan
    // color #B18759 // brown
    // color #0a7396 // dark blue
  padding-top: 32px

.routeInRoutes
  padding: 0 0 10px 10px
  // padding-left: 10px
