<!DOCTYPE html>
<html data-ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Mockr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="http://<!-- @echo BASE_HREF -->/">
  <meta property="og:site_name" content="Mockr">
  <meta name="twitter:card" content="summary">
  <meta name="description" content="">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta name="twitter:url" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">
<!-- vendor:css -->
<!-- endinject -->

<!-- app:css -->
<!-- endinject -->
</head>
<body>

  <div class="title">
    <h1>mockr</h1>
    <div ng-app="app" ng-controller="LoginController">
      <button ng-click="login()">Login with Github</button>
      <button ng-click="redir()">dashboard</button>
    </div>

<!-- vendor:js -->
<!-- endinject -->

<!-- app:js -->
<!-- endinject -->

<!-- templates:js -->
<!-- endinject -->


</body>
</html>
